.container {
  padding: 5em;
}

.container__titulo {
  font-size: 64px;
  font-weight: bold;
  color: #6b8e54;
  margin-top: 0.5em;
}

.container__opcoes-unidades {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  background-color: #bdcfa8;
  border-radius: 40px;
  gap: 2em;
}

.opcao__unidade-texto {
  font-weight: bold;
  font-size: 28px;
  color: #285129;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.opcao__radio-personalizado {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 0.75em;
}

.calendar {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #bdcfa8;
  border-radius: 10px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.calendar__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #6b8e5499;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color: #285129;
  font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  overflow: hidden;
  padding-bottom: 10px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
  color: #285129;
}

.date:hover,
.date.active {
  background: #6b8e54;
  color: #fff;
}

.date.inactive {
  color: #0853254c;
}

.date.inactive:hover {
  color: #fff;
}

.date.selected {
  background: #285129;
  color: #fff;
  transform: scale(1.1);
  transition: 0.2s ease;
}

.date.today {
  border: 2px solid #6b8e54;
}

.input-style {
  height: 40px;
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #285129;
  transition: all 0.3s ease;
  font-size: 20px;
}

.input-style::placeholder {
  font-weight: medium;
  font-size: 20px;
  color: #7b8c73;
  opacity: 0.8;
}

.botao-confirmar {
  background-color: #274e2e;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 16px 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 2em 0 4em 0;
  width: 100%;
  max-width: 300px;
}

.botao-confirmar:hover {
  background-color: #3b6b43;
  transform: scale(1.02);
}

.botao-confirmar:active {
  transform: scale(0.98);
}

.card-opcao {
  padding: 15px;
  margin: 10px 0;
  background-color: #e0eecd; /* Cor do seu fundo */
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 10px;
}

.card-opcao.selecionado {
  border-color: #285129; /* Verde mais escuro da sua marca */
  background-color: #d1e2b5;
  font-weight: bold;
}
