
.hero {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 15px 5% 20px 5%;
  background-color: #ebf4e3;
  overflow: hidden;
  min-height: 380px;
}

.hero-text {
  flex: 1;
  max-width: 600px;
  padding-bottom: 0;
  z-index: 10;
  margin-top: 0;
}

.hero-text h1 {
  font-size: 4rem;
  color: #285129;
  margin-bottom: 10px;
  line-height: 1.1;
}

.hero-text p {
  font-size: 1.5rem;
  color: #1d1b20;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #285129;
  color: white;
  padding: 20px 45px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #1d1b20;
}

.btn-secondary {
  border: 3px solid #285129;
  color: #285129;
  padding: 18px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: background 0.2s, color 0.2s;
}

.btn-secondary:hover {
  background-color: #285129;
  color: white;
}

/* Imagem Gigante */
.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.hero-img img {
  width: 130%;
  max-width: 900px;
  margin-right: -10%;
  margin-bottom: -5px;
}

@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-img img {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    align-items: center;
  }
  .hero-buttons {
    justify-content: center;
  }
  .hero-img img {
    margin-top: 40px;
    width: 110%;
    margin-right: -5%;
  }
  .hero-text {
    margin-top: 0;
  }
}
