
.sobre-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 5%;
  color: #285129; 
}

section {
  margin-bottom: 60px;
}

h1, h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 30px;
  color: #285129;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #285129; 
}

ul {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

li {
  margin-bottom: 10px;
  color: #285129;
}

.estrutura-imgs {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.estrutura-imgs img {
  max-width: 400px; 
  width: 100%;      
  height: auto;   
  object-fit: contain; 
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .estrutura-imgs img {
      width: 100%;
  }
}